:root {
  --box-shadow-color: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    --text-color: rgba(0, 0, 0, 0.6);
}

.text_para {
  color: var(--text-color);
}


.content_section {
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

.header {
  margin: 20px;
}

.header_content_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.header_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 2;
}

 h1 {
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
}
p {
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.company_logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.feature_card {
  box-shadow: var(--box-shadow-color);
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.card_button {
  color: #1890ff;
  border-color: #1890ff;
  background-color: #fff;
  padding: 5px;
  width: 120px;
}

.cta_button {
  background-color: #1890ff;
  padding: 15px;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bolder;
}

.feature_list_card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: var(--box-shadow-color);
  padding: 30px;
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 20px;
}
.feature_lists ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
.content_description_section {
  margin-top: 100px;
}
.content_description_card {
  display: flex;
  flex-direction: row;
  gap: 95px;
  flex-wrap: wrap;
  margin: 10px;
  margin-top: 150px;
}
.content_card_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 2;
}

.outreach_section, .search_section {
  margin-top: 150px;
  box-shadow: var(--box-shadow-color);
  background-color: #E9E9EC ;
  border-radius: 30px;
  padding: 50px
}
.outreach_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}

.outreach_cards > * {
  flex-basis: 25rem;
}

.discovery_section {
  margin-top: 150px;
}
.discovery_header {
  text-align: center;
}
.discovery_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;

}

.search_content {
  text-align: center;
}
.search_box {
  margin-top: 50px;
  box-shadow: var(--box-shadow-color);
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #1890ff;
}
.search_input {
  margin-top: 50px;
}
.search_button {
  border: none;
  background-color: #1890ff;
  text-align: center;
  padding: 10px;
  color: #fff;
  width: 140px;
}

input[type="text"] {
  padding: 8px;
  width: 500px;
}

.footer_section {
  background-color: #EBEEF3;
  padding: 30px;
  margin-top: 30px;
}
.footer_content {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.footer_section_content {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 768px) {
  input[type="text"] {
    width: 150px;
  }
  .search_button {
    width: 100px;
  }
  .footer_section_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .content_description_card {
    margin-top: 50px;
  }
  
}